/* **** FRAMEWORK **** */
@import "compass/reset";
@import "_grid.scss";

@include grid(12);

$colorTitleH1: #FF6900;
$colorTitleH2: #FF6900;
$colorTitleH3: #FF6900;
$colorTitleH4: #000000;
$colorTitleH5: #000000;
$colorTitleH6: #000000;
$bodyColor: #FFFFFF;
$sectionColor: darken($bodyColor, 7%);
$spanColor: darken($bodyColor, 17%);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

body{ font-family: 'Open Sans', sans-serif, arial; }

h1, h2, h3, h4, h5, h6{	font-weight: bold; }

h1{ font-size: 2.2em; color: $colorTitleH1; text-align: center; margin-bottom: 2%; }
h2{ font-size: 1.7em; color: $colorTitleH2; text-align: center; margin-bottom: 2%; }
h3{ font-size: 1.4em; color: $colorTitleH3; text-align: center; margin-bottom: 1% }
h4{ font-size: 1em; color: $colorTitleH4; text-align: center; margin-bottom: 1% }
h5{ font-size: 0.8em; color: $colorTitleH5; text-align: center; margin-bottom: 1% }
h6{ font-size: 0.6em; color: $colorTitleH6; text-align: center; margin-bottom: 1% }

u{ text-decoration: underline; }
b{ font-weight: bold; }
i{ font-style: italic; }
small{ font-size: 0.7em; font-style: italic; }
strike{ text-decoration: line-through; }
strong{ font-weight: bold; }
sub{ vertical-align: sub; font-size: smaller; }
sup{ vertical-align: super; font-size: smaller; }

a{ text-decoration: none; color: black; }
p{ display: block; margin-bottom: 1%; }

input, select{ width: 200px; }
textarea{ resize: vertical; width: 200px; min-height: 200px; }
form{ text-align: center; }

ol{ list-style-type: upper-roman; }
ul{ list-style-type: square; }

input[type=number], input[type=text], input[type=password], input[type=search], select{
	@include box-shadow(#FEAF38 2px 2px 10px inset);
	@include border-radius(4px);
	border-color: #336699;
}
input[type=number]{ width: 50px; }
input[type=submit], input[type=button], input[type=file]{
	@include border-radius(5px);
	border-color: #336699;
	background-color: #336699; 
	color: white;
}

/* **** FIN FRAMEWORK **** */